.submitButton {
  width: 25%;
  align-self: flex-end;
  font-size: 18px;
  height: 40px;
  background-color: var(--main-blue-color);
  color: white;
  transition: all 0.2s;
  border-radius: 50px;
  &:hover {
    background-color: transparent;
    border: 1px solid var(--main-blue-color);
    color: var(--main-blue-color);
  }
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.addProductsContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(238, 238, 238, 0.626);
  border-radius: 15px;
  border: 1px solid var(--main-blue-color);
  padding: 10px;
  height: 80%;
  position: relative;
}

.addProductsForm {
  height: 10%;
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

.productsListContainer {
  width: 100%;
  height: 90%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.productRow {
  width: 97%;
  margin: 0 auto;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 23px !important;
  border: solid 1px rgb(174, 174, 174);
  background-color: white;
  border-radius: 30px;
}

.productItemLabel {
  font-size: 16px;
  font-weight: bold;
  width: 33%;
}

.buttonGroupFinal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .submitButton {
    margin-top: 10px;
    width: 150px;
  }
}

.productInput {
  border: solid 1px var(--main-blue-color);
  height: 50px;
}
