.navigationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.navigationItem {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: var(--main-yellow-color);
  }

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: var(--main-yellow-color);
    transition: width 0.2s ease-in;
  }

  &:hover::after {
    width: 100%;
  }
}

.span {
  margin: 0px 5px 0px 5px;
  color: var(--main-blue-color);
}
