:root {
  --main-blue-color: #007dc6;
  --main-yellow-color: #ffc220;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: var(--main-blue-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-blue-color);
}
