.contactContainer {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.contactInfo {
  width: 50%;
  height: 100%;
}

.header {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-blue-color);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--main-yellow-color);
    transition: width 0.2s ease-in;
    opacity: 0.4;
  }
}

.body {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}

.contactBody {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--main-blue-color);
    transition: width 0.2s ease-in;
    opacity: 0.4;
    top: 100%;
  }
}

.bodyHeader {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.label {
  font-weight: bold;
  font-size: 16px;
}

.appLogo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalLogo {
  width: 70%;
  filter: brightness(0.8) blur(3px) contrast(0.1);
  opacity: 0.3;
}
